/**
 * If you're changing the slider image, change the following:
 * div.custom-slider > aspect-ratio - to the aspect ratio of the svg
 * div.content > padding-inline - change to the actual padding IN PERCENT (unused space on edges)
 * div.section > width - change to the width of the section IN PERCENT
 */
div.custom-slider {
  aspect-ratio: 759 / 53;
  width: 100%;
  height: auto;
  position: relative;

  img.background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  div.content {
    top: -15%;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-right: 10%;
    padding-left: 2%;

    div.section {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 10%;

      // this is the "draggable" element
      .draggable-wrapper {
        aspect-ratio: 1;
        width: 60%;
        min-width: 16px;
        user-select: none;
        transform: translateY(-4px);
      }
    }
  }
}

.slider-gradient {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(211, 232, 244, 1) 15%, rgba(219, 236, 246, 1) 58%, rgba(244, 249, 252, 1) 85%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(211, 232, 244, 1) 15%, rgba(219, 236, 246, 1) 58%, rgba(244, 249, 252, 1) 85%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(211, 232, 244, 1) 15%, rgba(219, 236, 246, 1) 58%, rgba(244, 249, 252, 1) 85%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#D3E8F4FF", GradientType=1);
}