@import url("//hello.myfonts.net/count/31b299");

// Typography styles
.grayText {
  color: #596c7a;
}

.fontMedium {
  font-family: "Planer-Medium", sans-serif;
}

.fontBold {
  font-family: "Planer-Bold", sans-serif;
}

.fontDemiBoldItalic {
  font-family: "Planer-DemiBoldItalic", sans-serif;
}

.fontExtraBold {
  font-family: "Planer-ExtraBold", sans-serif;
}

.fontExtraBoldItalic {
  font-family: "Planer-ExtraBoldItalic", sans-serif;
}

// Fonts
@font-face {
  font-family: 'Planer-ExtraLightItalic';
  src: url('/fonts/31B299_0_0.eot');
  src: url('/fonts/31B299_0_0.eot?#iefix') format('embedded-opentype'), url('/fonts/31B299_0_0.woff2') format('woff2'), url('/fonts/31B299_0_0.woff') format('woff'), url('/fonts/31B299_0_0.ttf') format('truetype');
}


@font-face {
  font-family: 'Planer-ExtraBold';
  src: url('/fonts/31B299_1_0.eot');
  src: url('/fonts/31B299_1_0.eot?#iefix') format('embedded-opentype'), url('/fonts/31B299_1_0.woff2') format('woff2'), url('/fonts/31B299_1_0.woff') format('woff'), url('/fonts/31B299_1_0.ttf') format('truetype');
}


@font-face {
  font-family: 'Planer-ExtraBoldItalic';
  src: url('/fonts/31B299_2_0.eot');
  src: url('/fonts/31B299_2_0.eot?#iefix') format('embedded-opentype'), url('/fonts/31B299_2_0.woff2') format('woff2'), url('/fonts/31B299_2_0.woff') format('woff'), url('/fonts/31B299_2_0.ttf') format('truetype');
}


@font-face {
  font-family: 'Planer-ExtraLight';
  src: url('/fonts/31B299_3_0.eot');
  src: url('/fonts/31B299_3_0.eot?#iefix') format('embedded-opentype'), url('/fonts/31B299_3_0.woff2') format('woff2'), url('/fonts/31B299_3_0.woff') format('woff'), url('/fonts/31B299_3_0.ttf') format('truetype');
}


@font-face {
  font-family: 'Planer-Bold';
  src: url('/fonts/31B299_4_0.eot');
  src: url('/fonts/31B299_4_0.eot?#iefix') format('embedded-opentype'), url('/fonts/31B299_4_0.woff2') format('woff2'), url('/fonts/31B299_4_0.woff') format('woff'), url('/fonts/31B299_4_0.ttf') format('truetype');
}


@font-face {
  font-family: 'Planer-Regular';
  src: url('/fonts/31B299_5_0.eot');
  src: url('/fonts/31B299_5_0.eot?#iefix') format('embedded-opentype'), url('/fonts/31B299_5_0.woff2') format('woff2'), url('/fonts/31B299_5_0.woff') format('woff'), url('/fonts/31B299_5_0.ttf') format('truetype');
}


@font-face {
  font-family: 'Planer-Light';
  src: url('/fonts/31B299_6_0.eot');
  src: url('/fonts/31B299_6_0.eot?#iefix') format('embedded-opentype'), url('/fonts/31B299_6_0.woff2') format('woff2'), url('/fonts/31B299_6_0.woff') format('woff'), url('/fonts/31B299_6_0.ttf') format('truetype');
}


@font-face {
  font-family: 'Planer-Medium';
  src: url('/fonts/31B299_7_0.eot');
  src: url('/fonts/31B299_7_0.eot?#iefix') format('embedded-opentype'), url('/fonts/31B299_7_0.woff2') format('woff2'), url('/fonts/31B299_7_0.woff') format('woff'), url('/fonts/31B299_7_0.ttf') format('truetype');
}


@font-face {
  font-family: 'Planer-LightItalic';
  src: url('/fonts/31B299_8_0.eot');
  src: url('/fonts/31B299_8_0.eot?#iefix') format('embedded-opentype'), url('/fonts/31B299_8_0.woff2') format('woff2'), url('/fonts/31B299_8_0.woff') format('woff'), url('/fonts/31B299_8_0.ttf') format('truetype');
}


@font-face {
  font-family: 'Planer-Italic';
  src: url('/fonts/31B299_9_0.eot');
  src: url('/fonts/31B299_9_0.eot?#iefix') format('embedded-opentype'), url('/fonts/31B299_9_0.woff2') format('woff2'), url('/fonts/31B299_9_0.woff') format('woff'), url('/fonts/31B299_9_0.ttf') format('truetype');
}


@font-face {
  font-family: 'Planer-BoldItalic';
  src: url('/fonts/31B299_A_0.eot');
  src: url('/fonts/31B299_A_0.eot?#iefix') format('embedded-opentype'), url('/fonts/31B299_A_0.woff2') format('woff2'), url('/fonts/31B299_A_0.woff') format('woff'), url('/fonts/31B299_A_0.ttf') format('truetype');
}


@font-face {
  font-family: 'Planer-DemiBold';
  src: url('/fonts/31B299_B_0.eot');
  src: url('/fonts/31B299_B_0.eot?#iefix') format('embedded-opentype'), url('/fonts/31B299_B_0.woff2') format('woff2'), url('/fonts/31B299_B_0.woff') format('woff'), url('/fonts/31B299_B_0.ttf') format('truetype');
}


@font-face {
  font-family: 'Planer-DemiBoldItalic';
  src: url('/fonts/31B299_C_0.eot');
  src: url('/fonts/31B299_C_0.eot?#iefix') format('embedded-opentype'), url('/fonts/31B299_C_0.woff2') format('woff2'), url('/fonts/31B299_C_0.woff') format('woff'), url('/fonts/31B299_C_0.ttf') format('truetype');
}


@font-face {
  font-family: 'Planer-MediumItalic';
  src: url('/fonts/31B299_D_0.eot');
  src: url('/fonts/31B299_D_0.eot?#iefix') format('embedded-opentype'), url('/fonts/31B299_D_0.woff2') format('woff2'), url('/fonts/31B299_D_0.woff') format('woff'), url('/fonts/31B299_D_0.ttf') format('truetype');
}